/* @import './base.css'; */
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src:
    local('Roboto'),
    url('/fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
    url('/fonts/Roboto/Roboto-Regular.woff') format('woff');
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  color: rgb(89, 126, 228);
  text-decoration: none;
}

/* ToDoList views */
.wrapper {
  margin: 0 auto;
  min-width: 329px;
  padding: 24px;
}

.form {
  display: grid;
  grid-template-columns: 6fr 1fr 2fr;
  grid-gap: 40px;
  margin-bottom: 29px;
}

/* TaskComponent */
.task {
  border-radius: 9px;
  padding: 9px 12px;
  color: black;
  background: white;
  display: grid;
  grid-template-columns: 4fr 2fr;
  margin-bottom: 20px;
}

.text {
  place-content: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
}

.button {
  flex-grow: 1;
}

.btn1 {
  margin-right: 21px;
}

.btn2 {
  flex-grow: 1;
}

/* SearchComponent */
.search {
  display: flex;
  gap: 10px;
}

/* Login views */

.login{
  width: 25%;
  margin: 0 auto;
  padding: 20px;
}